.jumbotron{
    position: relative;
    z-index:-2;
    height: auto;
  
  
  }
  
  .wrapper {
    /* The height needs to be set to a fixed value for the effect to work.
     * 100vh is the full height of the viewport. */
    height: 100vh;
    /* The scaling of the images would add a horizontal scrollbar, so disable x overflow. */
    overflow-x: hidden;
    /* Enable scrolling on the page. */
    overflow-y: auto;
    /* Set the perspective to 2px. This is essentailly the simulated distance from the viewport to transformed objects.*/
    perspective: 2px;
  }
  
  .section {
    /* Needed for children to be absolutely positioned relative to the parent. */
    position: relative;
    /* The height of the container. Must be set, but it doesn't really matter what the value is. */
    height: 100vh;
  
    /* For text formatting. */
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    text-shadow: 0 0 5px #000;
  }
  
  .parallax::after {
    /* Display and position the pseudo-element */
    content: " ";
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
  
    /* Move the pseudo-element back away from the camera,
     * then scale it back up to fill the viewport.
     * Because the pseudo-element is further away, it appears to move more slowly, like in real life. */
    transform: translateZ(-1px) scale(1.5);
    /* Force the background image to fill the whole element. */
    background-size: 100%;
    /* Keep the image from overlapping sibling elements. */
    z-index: -1;
  }
  
  /* The styling for the static div. */
  .static {
    background: red;
  }
  
  /* Sets the actual background images to adorable kitties. This part is crucial. */
  .bg1::after {
    background-image: url('Images/Dermy1.jpg');
  }
  
  .bg2::after {
    background-image: url('Images/Dermy1.jpg');
  }

  .HeroText {
    min-height: 300px;
  }
  
  .box {
    background-color: white;
    width: 100%;
    z-index: -1;
  
  }
  
  .display-4 {
    font-family: 'Oswald', sans-serif;
    }
  
  .lead {
    font-family: 'Quattrocento', serif;
    }
  
  .navbar-brand img{
    height: 40px;
    }
  
  .navbar-dark {
  background-color: #0B7A75; 
    }
  
  .btn-primary {
    background-color: #0B7A75;
    }
  
    body {
      font: 20px Quattrocento, sans-serif;
      line-height: 1.8;
      color: #f5f6f7;
  }
  p {font-size: 16px;}
  .margin {margin-bottom: 45px;}
  .bg-1 { 
      background-color: #7B2D26; /* Green */
      color: #ffffff;
  }
  .bg-2 { 
      background-color: #474e5d; /* Dark Blue */
      color: #ffffff;
  }
  .bg-3 { 
      background-color: #ffffff; /* White */
      color: #555555;
  }
  .bg-4 { 
      background-color: #2f2f2f; /* Black Gray */
      color: #fff;
  }
  .container-fluid {
      padding-top: 70px;
      padding-bottom: 70px;
  }
  